* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  background-color: #6600cc;
  margin-right: 635px;
  text-align: center;
  border: 2px dotted black;
  border-radius: 30px;
}

p {
  color: #6600cc;
}

h2 {
  font-weight: bold;
  color: #6600cc;
}

ul {
  color: #6600cc;
}

ol {
  color: #6600cc;
}
